 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

:root{
 


  --White: hsl(0, 0%, 100%);
  --Light_pink: hsl(275, 100%, 97%);
  --Grayish_purple: hsl(292, 16%, 49%);
  --Dark_purple: hsl(292, 42%, 14%);
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-image: url(images/background-pattern-desktop.svg);
  background-repeat: no-repeat;

  background-color: var(--Light_pink);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Work Sans', sans-serif;
}

.container{
  width: 30em;
  height: fit-content;
  background-color:var(--White);
  border: 2px solid red;
  border-radius: 2em;
  padding: 2em;
}
.sub_text{
  font-size: .7em;
  color: var(--Grayish_purple);
  display: none;
}

li{
  list-style: none;
}
img{
  height: 30px;
}
 .faq_heading{
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: flex-start;

  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: var(--Dark_purple);
  margin-bottom: 1em;
}
.sub_head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub_header{
 color: var(--Dark_purple);
 font-size: .9em;
 font-weight: 600;
}

